body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-class {
  background-image: url('../src/images/jk.png');
  margin-top: 4.2rem;
  width: 100%;
  height: 100vh;
  background-size: contain;
}
header.MuiAppBar-colorPrimary.header-class {
  background-color: #af72c6;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-item{
  background-color: white;
}